<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>

  <style>
    #signup-title{
      padding-top: 100px;
    }
  </style>
</head>
<body>

  {% extends 'base.html' %}


  
  {% block content %}
  <h2 id="signup-title">Sign Up</h2>

  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Sign Up">
  </form>
    
  {% endblock content %}
    
</body>
</html>