body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  box-shadow: 1px 2px 20px 4px rgba(84, 84, 84, 0.403);
  position: fixed;
  width: 100%;
  top: 0;
}

header .logo{
  text-decoration: none;
  color: darkblue;
  font-weight: 700;
}
.register{
  display: flex;
}
.register a{
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 1px rgba(128, 128, 128, 0.288);
  transition: all 0.7s;

}

.login-btn:hover{
  background-color: #0F52BA;
  color: #FFFFFF;
}

.signup-btn:hover{
  background-color: #50C878;
  color: #FFFFFF;
}

button.logout-btn{
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 1px rgba(128, 128, 128, 0.288);
  transition: all 0.7s;

}

