<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post</title>

  <style>
    .blog-card{
      margin-top: 100px;
    }
  </style>
</head>
<body>

  {% extends 'base.html' %}


  
  {% block content %}
  <div class="blog-card">
    <a href="">  <h3>  {{ post.title }} | Author: <span>{{ post.author }}</span></h3></a>
    <p>  {{ post.body }} </p>
  </div>

  <a href="{% url 'post_edit' post.pk %}">EDIT</a>
  <a href="{% url 'home' %}">All posts</a>
  <a href="{% url 'post_delete' post.pk %}">Delete</a>
    
  {% endblock content %}
    
  
</body>
</html>