.blog-cards{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

a{
  text-decoration: none;
}

.blog-card{
  padding: 30px 10px;
  border: 2px solid black;
  margin-bottom: 10px;
  flex-basis: calc(46%);

}